*.exe
!/ppx.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
node_modules
*.bs.js
/.cache
/_esy
/dist
/examples/*.html
/lib
/ppx/lib
/ppx/ppx
.netlify
