@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Overpass:300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Overpass, sans-serif;
  line-height: 1.6;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 960px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.hljs {
  padding: 1rem 1.25rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 768px) {
  .hljs {
    font-size: 14px;
  }
}

footer {
  text-align: right;
}
